body {
    background-color: #002445;
    color: #e8c274;
    text-align: center;
    font-family: "Silkscreen", sans-serif;
}

#main-title {  
    font-size: 5rem;
    font-weight: 500;
}

#title {
    font-size: 3.5rem;
    font-weight: 500;
}

#start-btn {
    padding: 10px 30px;
    background-color: #B8860B;
    font-style: inherit;
    color:black;
    font-size: 2.5rem;
    border: solid black 5px;
    border-radius: 20px;
    font-family: "Audiowide", sans-serif;
    font-weight: 800;
    font-style: normal;
    cursor: pointer;
}

.container {
    width: 50%;
    margin: auto;
}

.btn { 
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 25%;
    display: inline-block;
    margin: 40px;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}


.blue {
  background-color: blue;
}

.pressedColor {
  /*box shadow : 0 first --> move 0 in horizontal // 0 second --> move 0 in vertical 
  // 30px --> Shadow spread radius 30px // white --> color of Shadow spread radius */
  box-shadow: 0 0 30px white;
}

.game-Over {
  background-color: red;
}

@media (max-width: 600px) {
  #main-title {  
    font-size: 2.5rem;
    font-weight: 500;
  }

  #title {
    font-size: 1.5rem;
    font-weight: 500;
  }
  #start-btn {
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 10px;
  }
  .btn {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
}


